{{>layouts/header}}

<table class="table">
    <colgroup>
        <col style="width:10%">
        <col style="width:15%">
        <col style="width:50%">
        <col style="width:15%">
    </colgroup>
    <thead>
    <tr>
        <th scope="col" style="display:none;">ID</th>
        <th scope="col">GUIDE</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">SCHEDULE</th>
    </tr>
    </thead>
    <tbody>
    {{#travelList}}
        <tr>
            <td style="display:none;">{{id}}</td>
            <td>{{guide}}</td>
            <td><a href="/travels/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
            <td>{{schedule}}</td>
        </tr>
    {{/travelList}}
    </tbody>
</table>

{{>layouts/footer}}